body {
    font-family: 'Roboto', sans-serif;
    background-color:rgb(207, 205, 205);
    margin: 0;
    padding: 0;
  }
  
  .container {
    width: 600px;
    margin: auto;
  }
  
  h1 {
    text-align: center;
    padding: 20px;
    margin: 0;
    background-color: white;
    border-bottom: 1px solid #ccc;
    font-size: 24px;
  }

  .post {
    background-color: white;
    margin: 25px 0; 
    border: 1px solid rgb(207, 205, 205);
    border-radius: 6px;
    overflow: hidden; 
  }


  .post-header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
  }
  
  .post img {
    width: 100%;
    max-height: 1080px;
    aspect-ratio: 1035 / 1080; /* medidas actuales de instagram */
    object-fit: cover;
    display: block;
  }

  span {
    color: rgb(207, 205, 205); 
  }
  
  .post p {
    padding: 10px;
    color: black;
  }
  